<div class="w-100 flex-fill d-flex flex-column">
  <h1 class="fs-5">Proponentes</h1>

  <div class="d-flex gap-2 my-4">
    <a href="<%= "#{new_proponent_path}"%>" class="btn btn-primary">Adicionar proponente</a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Endereço</th>
        <th scope="col">Salário bruto</th>
        <th scope="col">Desconto INSS</th>
        <th scope="col">Salário líquido</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="proponents">
      <%= render @proponents %>
    </tbody>
  </table>

  <div class="flex-fill"></div>

  <%= paginate @proponents %>
</div>
